    <footer id="home-footer">

    </footer><!-- #home-footer -->

    <script src="/assets/javascript/util.js"></script>
    <script src="/assets/javascript/FileApi.js"></script>
    <script src="/assets/javascript/XHR.js"></script>
    <script src="/assets/javascript/index.js"></script>
</body>
</html>
