<!DOCTYPE html>
<html>
<head>
    <title>Drag and Drop File Upload</title>

    <!-- JavaScript -->
    <script src="//polyfill.io"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//polyfill.io/normalize.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body id="home">
    <header id="home-header">
        <h1 class="title">Marco Bruno</h1>
        <h2 class="sub-title">Drag and Drop File Upload</h2>
    </header><!-- #home-header -->
