#home { background: #F2F2F2; }

#home-header {
    padding: 40px 0 20px;
}

#home-article {
    width: 500px;
    background-color: #F0F0F0;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
}

.form-label { display: block; margin-bottom: 10px; }

.title { margin-bottom: 10px; }
.title, .sub-title { text-align: center; }

#uploadfile { width: 380px; }
#output {
    display: block;
    min-height: 80px;
    min-width: 360px;
}
#form-drag-and-drop { margin-bottom: 20px; }
