{{> header }}

<article id="home-article">
    <form id="home-article-signup" action="">
        <legend class="form-title space-bottom-medium">Login Credentials</legend>

        <fieldset class="fleft space-bottom-small">
            <label for="article-signup-first-name" class="form-label">First Name</label>
            <input id="article-signup-first-name" class="form-text space-bottom-small" name="first-name" type="text" placeholder="e.g., Marco" tabindex="1" autofocus required="required">

            <label for="article-signup-email" class="form-label">Email</label>
            <input id="article-signup-email" class="form-text space-bottom-small" name="email" type="email" placeholder="e.g., marco.bruno.br@gmail.com" tabindex="3" required="required">

            <label for="article-signup-password" class="form-label">Password</label>
            <input id="article-signup-password" class="form-text space-bottom-small" name="password" type="password" placeholder="e.g., ********" tabindex="5" required="required">
        </fieldset><!-- .fleft -->

        <fieldset class="fright space-bottom-small">
            <label for="article-signup-last-name" class="form-label">Last Name</label>
            <input id="article-signup-last-name" class="form-text space-bottom-small" name="last-name" type="text" placeholder="e.g., Bruno" tabindex="2" required="required">

            <label for="article-signup-re-enter-email" class="form-label">Re-enter Email</label>
            <input id="article-signup-re-enter-email" class="form-text space-bottom-small" name="re-enter-email" type="email" placeholder="e.g., marco.bruno.br@gmail.com" tabindex="4" required="required">

            <label for="article-signup-re-enter-password" class="form-label">Re-enter Password</label>
            <input id="article-signup-re-enter-password" class="form-text space-bottom-small" name="re-enter-password" type="password" placeholder="e.g., ********" tabindex="6" required="required">
        </fieldset><!-- .fright -->

        <fieldset class="clear">
            <label class="form-label">Files Upload</label>            
            
            <filendset class="wrap-form-upload btn btn-primary space-bottom-small">
                <span>Upload</span>
                <input id="article-singup-upload" class="form-upload" type="file" name="upload[]" multiple="multiple" required="required">
            </filendset><!-- .wrap-form-upload-->

            <fieldset id="form-drag-and-drop">
                <label class="drag-and-drop-label">or Drag and drop files/folders from your desktop</label>                                        
            </fieldset><!-- #form-drag-and-drop -->

            <label class="form-label">Files/Folder to Upload</label>
            <output id="output" class="space-bottom-medium"></output>

            <input id="article-signup-action" class="btn btn-primary clear" type="submit" value="Submit" tabindex="7">
        </fieldset>
    </form><!-- #home-article-signup -->
</article><!-- #home-article -->

{{> footer }}
